Repository EduardoV-dev/careers-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn check-format, yarn check-lint, yarn format

.lintstagedrc.json:

{
    "**/*.{js,ts,tsx}": ["yarn check-format", "yarn check-lint"],
    "**/*.{css,md,json}": ["yarn format"]
}

Development: SASS integrated into the project
  .lintstagedrc.json
  package.json
  pages/_app.tsx
  src/styles/abstracts/_functions.scss
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/app.scss
  src/styles/core/_custom.scss
  src/styles/core/_font-faces.scss
  src/styles/core/_global.scss
  src/styles/core/fonts/rubik/Rubik-Bold.ttf
  src/styles/core/fonts/rubik/Rubik-Medium.ttf
  src/styles/core/fonts/rubik/Rubik-Regular.ttf
Due: yarn check-format, yarn check-lint, yarn format

Development: Layout component created
  .eslintrc.json
  next.config.js
  package.json
  pages/_document.tsx
  pages/index.tsx
  src/assets/svg/chevron-down.svg
  src/assets/svg/globe.svg
  src/assets/svg/menu-close.svg
  src/assets/svg/menu-hamburger.svg
  src/components/client-only/index.tsx
  src/components/dummy-component.tsx
  src/components/layout-footer/index.module.scss
  src/components/layout-footer/index.tsx
  src/components/layout-header/index.module.scss
  src/components/layout-header/index.tsx
  src/components/layout-header/navbar.tsx
  src/components/layout/index.module.scss
  src/components/layout/index.tsx
  src/components/modal/index.module.scss
  src/components/modal/index.tsx
  src/features/careers/index.ts
  src/styles/abstracts/_functions.scss
  src/styles/abstracts/_mixins.scss
  src/styles/core/_custom.scss
  src/styles/core/_global.scss
Due: yarn check-format, yarn check-lint, yarn format

Development: Hero section done
  .eslintrc.json
  pages/index.tsx
  src/components/button/index.module.scss
  src/components/button/index.tsx
  src/components/layout-header/index.module.scss
  src/components/layout-header/index.tsx
  src/features/careers/assets/careers-hero.png
  src/features/careers/index.ts
  src/features/careers/modules/careers-hero/index.module.scss
  src/features/careers/modules/careers-hero/index.tsx
  src/styles/core/_custom.scss
  src/styles/core/_global.scss
Due: yarn check-format, yarn check-lint, yarn format

Development: About and Benefits modules done
  .eslintignore
  .prettierignore
  package.json
  pages/index.tsx
  src/components/layout-header/index.module.scss
  src/features/careers/assets/images/careers-hero.png
  src/features/careers/assets/lotties/career-guiadance.json
  src/features/careers/assets/svg/learning-opportunities.svg
  src/features/careers/assets/svg/secured-future.svg
  src/features/careers/assets/svg/team-work.svg
  src/features/careers/assets/svg/upgrade-skills.svg
  src/features/careers/index.ts
  src/features/careers/modules/careers-about/index.module.scss
  src/features/careers/modules/careers-about/index.tsx
  src/features/careers/modules/careers-benefits/index.module.scss
  src/features/careers/modules/careers-benefits/index.tsx
  src/features/careers/modules/careers-hero/index.module.scss
  src/features/careers/modules/careers-hero/index.tsx
  src/styles/abstracts/_variables.scss
  src/styles/core/_custom.scss
  src/styles/core/_global.scss
Due: yarn check-format, yarn check-lint, yarn format

Development: Careers page done (UI only)
  .eslintrc.json
  .prettierrc
  package.json
  pages/_app.tsx
  pages/index.tsx
  src/components/client-only/index.tsx
  src/components/layout-header/navbar.tsx
  src/components/modal/index.tsx
  src/features/careers/assets/images/careers-hero.png
  src/features/careers/assets/images/careers-hero.webp
  src/features/careers/index.ts
  src/features/careers/modules/careers-about/index.tsx
  src/features/careers/modules/careers-benefits/index.module.scss
  src/features/careers/modules/careers-benefits/index.tsx
  src/features/careers/modules/careers-hero/index.module.scss
  src/features/careers/modules/careers-hero/index.tsx
  src/features/careers/modules/careers-openings-list/index.module.scss
  src/features/careers/modules/careers-openings-list/index.tsx
  src/styles/core/_custom.scss
Due: yarn check-format, yarn check-lint, yarn format

Development: UI for the demo is done (Resume form input is pending though)
  package.json
  pages/careers/[id].tsx
  src/assets/svg/close-red.svg
  src/components/backdrop/index.module.scss
  src/components/backdrop/index.tsx
  src/components/button/index.module.scss
  src/components/button/index.tsx
  src/components/footer/index.module.scss
  src/components/footer/index.tsx
  src/components/form-control/index.module.scss
  src/components/form-control/index.tsx
  src/components/header/index.module.scss
  src/components/header/index.tsx
  src/components/header/navbar.tsx
  src/components/layout/index.tsx
  src/components/modal/index.module.scss
  src/components/modal/index.tsx
  src/features/careers/assets/svg/location.svg
  src/features/careers/assets/svg/opened-on.svg
  src/features/careers/assets/svg/role.svg
  src/features/careers/index.ts
  src/features/careers/modules/careers-openings-list/index.tsx
  src/features/careers/modules/details-application-form/index.module.scss
  src/features/careers/modules/details-application-form/index.tsx
  src/features/careers/modules/details-job/index.module.scss
  src/features/careers/modules/details-job/index.tsx
  src/features/language-selector/assets/svg/check.svg
  src/features/language-selector/assets/svg/chevron-down.svg
  src/features/language-selector/assets/svg/globe.svg
  src/features/language-selector/assets/svg/spain-flag.svg
  src/features/language-selector/assets/svg/usa-flag.svg
  src/features/language-selector/index.ts
  src/features/language-selector/modules/language-selector/index.module.scss
  src/features/language-selector/modules/language-selector/index.tsx
  src/styles/app.scss
  src/styles/core/_custom.scss
  src/styles/core/_global.scss
Due: yarn check-format, yarn check-lint, yarn format

Development: Local internationalization implemented
  .prettierignore
  next-i18next.config.js
  next.config.js
  package.json
  pages/_app.tsx
  pages/careers/[id].tsx
  pages/index.tsx
  public/locales/en/career-details.json
  public/locales/en/careers.json
  public/locales/en/common.json
  public/locales/es/career-details.json
  public/locales/es/careers.json
  public/locales/es/common.json
  src/components/footer/index.tsx
  src/components/header/index.module.scss
  src/components/header/navbar.tsx
  src/features/careers/modules/careers-about/index.tsx
  src/features/careers/modules/careers-benefits/index.tsx
  src/features/careers/modules/careers-hero/index.tsx
  src/features/careers/modules/careers-openings-list/index.tsx
  src/features/careers/modules/details-application-form/index.tsx
  src/features/careers/modules/details-job/index.tsx
  src/features/language-selector/modules/language-selector/index.module.scss
  src/features/language-selector/modules/language-selector/index.tsx
Due: yarn check-format, yarn check-lint, yarn format

Refactor: Language selector
  src/features/language-selector/modules/language-selector/index.tsx
Due: yarn check-format, yarn check-lint

Development (Careers page): Started working with data fetching
  .env.development
  global.d.ts
  pages/index.tsx
  src/lib/fetcher.ts
Due: yarn check-format, yarn check-lint

Development: Careers and career details are fetched correcly
  .eslintrc.json
  .github/workflows/ci.yml
  @types/index.d.ts
  global.d.ts
  pages/404.tsx
  pages/careers/[id].tsx
  pages/index.tsx
  public/locales/en/career-details.json
  public/locales/en/careers.json
  public/locales/en/not-found.json
  public/locales/es/career-details.json
  public/locales/es/careers.json
  public/locales/es/not-found.json
  src/features/careers/api/get-career-by-id.ts
  src/features/careers/api/get-careers-page-data.ts
  src/features/careers/index.ts
  src/features/careers/modules/careers-openings-list/index.tsx
  src/features/careers/modules/details-job/index.tsx
  src/features/careers/types/career-responses.ts
  src/features/careers/types/career.ts
  src/features/misc/assets/lotties/page-not-found.json
  src/features/misc/components/element-not-found-404/index.module.scss
  src/features/misc/components/element-not-found-404/index.tsx
  src/features/misc/index.ts
  src/features/misc/modules/page-not-found-404/index.tsx
  src/lib/fetcher.ts
  src/utils/date-format.ts
Due: yarn check-format, yarn check-lint, yarn format

Development (Openings List): filter by role is working
  src/features/careers/modules/careers-openings-list/index.tsx
Due: yarn check-format, yarn check-lint

Development: Application form working
  package.json
  pages/_app.tsx
  public/locales/en/career-details.json
  public/locales/es/career-details.json
  src/components/button/index.tsx
  src/components/form-control/index.module.scss
  src/components/form-control/index.tsx
  src/components/header/index.module.scss
  src/components/header/index.tsx
  src/features/careers/api/apply-to-job.ts
  src/features/careers/modules/careers-hero/index.module.scss
  src/features/careers/modules/careers-hero/index.tsx
  src/features/careers/modules/details-application-form/index.module.scss
  src/features/careers/modules/details-application-form/index.tsx
  src/features/careers/modules/details-job/index.tsx
  src/features/careers/types/application-form.ts
  src/lib/fetcher.ts
  src/styles/core/_global.scss
Due: yarn check-format, yarn check-lint, yarn format

Development: Filter implemented into career openings
  .env.development
  .gitignore
  @types/index.d.ts
  pages/404.tsx
  pages/_app.tsx
  pages/careers/[id].tsx
  pages/index.tsx
  public/locales/en/careers.json
  public/locales/es/careers.json
  src/components/form-control/index.tsx
  src/components/layout/index.tsx
  src/components/seo/index.tsx
  src/features/careers/api/get-careers-page-data.ts
  src/features/careers/modules/careers-openings-list/careers-filters.tsx
  src/features/careers/modules/careers-openings-list/index.module.scss
  src/features/careers/modules/careers-openings-list/index.tsx
  src/features/careers/modules/details-application-form/index.tsx
  src/features/careers/types/career-responses.ts
  src/features/careers/types/career.ts
  src/styles/core/_global.scss
Due: yarn check-format, yarn check-lint, yarn format

Fix: Production build
  .github/workflows/ci.yml
  src/features/careers/modules/careers-openings-list/careers-filters.tsx
  src/features/careers/modules/careers-openings-list/index.tsx
  src/features/misc/modules/page-not-found-404/index.tsx
Due: yarn check-format, yarn check-lint

README.md updated
  README.md
Due: yarn format

Fix (Intl): There was a missing internationalization text
  public/locales/en/careers.json
  public/locales/es/careers.json
  src/features/careers/modules/careers-openings-list/careers-filters.tsx
  src/features/careers/modules/careers-openings-list/index.tsx
Due: yarn check-format, yarn check-lint, yarn format

Fix: Styling fixes
  src/features/careers/modules/careers-about/index.tsx
  src/features/careers/modules/careers-benefits/index.tsx
  src/features/careers/modules/careers-hero/index.tsx
  src/features/careers/modules/careers-openings-list/careers-filters.tsx
  src/features/careers/modules/careers-openings-list/index.module.scss
  src/features/careers/modules/careers-openings-list/index.tsx
  src/features/careers/modules/details-job/index.tsx
  src/styles/core/_custom.scss
Due: yarn check-format, yarn check-lint

Fix (Intl): Some internationalization could not be applied due to vercel hosting (FIXED)
  next-i18next.config.js
  pages/404.tsx
  pages/careers/[id].tsx
  pages/index.tsx
Due: yarn check-format, yarn check-lint

Docs: Project documentation that describes the application and shows how to develop code for the application.
  .env.development
  .husky/pre-commit
  README.md
  docs/about-asssesment.md
  docs/application-overview.md
  docs/code-styling.md
  docs/components.md
  docs/performance.md
  docs/project-configuration.md
  docs/project-structure.md
  pages/careers/[id].tsx
  pages/index.tsx
Due: yarn check-format, yarn check-lint, yarn format

Development: Dynamic imports, styling fixes and more
  @types/index.d.ts
  docs/errors-handling.md
  docs/internationalization.md
  docs/performance.md
  next-i18next.config.js
  package.json
  pages/404.tsx
  pages/500.tsx
  pages/_app.tsx
  pages/careers/[id].tsx
  pages/index.tsx
  public/locales/en/server-error.json
  public/locales/es/server-error.json
  src/assets/lotties/not-found.json
  src/assets/lotties/server-error.json
  src/components/feedback/index.module.scss
  src/components/feedback/index.tsx
  src/components/header/index.tsx
  src/components/header/navbar.tsx
  src/components/modal/index.tsx
  src/features/careers/api/get-all-career-openings.ts
  src/features/careers/api/get-career-by-id.ts
  src/features/careers/api/get-careers-page-data.ts
  src/features/careers/index.ts
  src/features/careers/modules/details-application-form/index.tsx
  src/features/careers/modules/details-job/index.module.scss
  src/features/careers/modules/details-job/index.tsx
  src/features/language-selector/api/get-supported-languages.ts
  src/features/language-selector/assets/svg/spain-flag.svg
  src/features/language-selector/assets/svg/usa-flag.svg
  src/features/language-selector/index.ts
  src/features/language-selector/modules/language-selector/index.tsx
  src/features/language-selector/types/language.ts
  src/features/misc/components/element-not-found-404/index.tsx
  src/features/misc/index.ts
  src/features/misc/modules/page-not-found-404/index.tsx
  src/features/misc/modules/server-error-500/index.tsx
  src/lib/fetcher.ts
  src/styles/core/_custom.scss
Due: yarn check-format, yarn check-lint, yarn format

Development: Documentation and minimal fixes related to code
  docs/code-styling.md
  docs/components.md
  docs/errors-handling.md
  docs/internationalization.md
  docs/project-structure.md
  src/components/seo/index.tsx
  src/config/env.ts
  src/features/careers/api/get-career-by-id.ts
  src/lib/fetcher.ts
Due: yarn check-format, yarn check-lint, yarn format

Development: Language is handled locally and not dynamically as intended
  package.json
  pages/_app.tsx
  pages/careers/[id].tsx
  src/components/header/navbar.tsx
  src/components/layout/index.tsx
  src/components/seo/index.tsx
  src/config/env.ts
  src/features/language-selector/api/get-supported-languages.ts
  src/features/language-selector/assets/svg/spain-flag.svg
  src/features/language-selector/assets/svg/usa-flag.svg
  src/features/language-selector/index.ts
  src/features/language-selector/modules/language-selector/index.tsx
  src/features/language-selector/types/language.ts
Due: yarn check-format, yarn check-lint, yarn format

Development: README.md updated
  README.md
Due: yarn format
